{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class=" w-[646px] h-[130px] rounded-[10px] shadow-gn m-8">
  <div class="">
    <h6>Reseaux Sociale :</h6>
    <form action="">
      <input type"search" placeholder="    Faire une Recherche" class="border-2 rounded-[20px] h-[40px] w-[330px]" >
    </form>
  </div>
  
</div>
  
{% endblock %}
