{% extends 'base.html.twig' %}

{% block body %}

	{% include 'job.html.twig'%}
	{% include 'media.html.twig'%}
	{% include 'article.html.twig'%}
	{% include 'publish.html.twig'%}

	{% include 'registration/register.html.twig' %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Profil</h1>

	{{ form_start(profil) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(profil) }}
{% endblock %}
