{% extends 'base.html.twig' %}

{% block title %}FashionBook Paris
{% endblock %}

{% block body %}
	<div class="container mx-auto w-70 h-60">
		<h1 class="mt-20 text-3xl text-center font-bold">Mon Réseau</h1>
		<div class="flex mt-10 mb-10 justify-between">
			<a href="" class="rounded-[20px] bg-white shadow-gn m-4 ml-40 p-3">+ Ajouter un contact</a>
			<a href="" class="rounded-[20px] bg-white shadow-gn m-4 mr-40 p-3">Filtrer les contacts</a>
		</div>
	</div>
	<div>
		<h2 class="mb-10 ml-20 text-2xl font-bold">Nos Suggestions</h2>
	</div>
	<div class="grid grid-cols-4 gap-2">
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#0044FF] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Ajouter</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="{{ asset('img/pexels-andrea-piacquadio-3775540.jpg') }}" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#0044FF] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Ajouter</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="{{ asset('img/portraitn°2.png') }}" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#0044FF] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Ajouter</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="{{ asset('img/portraitn°3.png') }}" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#0044FF] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Ajouter</button>
			</div>
		</div>
	</div>
	<div class="mt-10 mb-10">
		<hr class="border-[#BBBFCA] border-2 rounded w-6/12 align-items-cente m-auto">
	</div>
	<div>
		<h2 class="mb-10 ml-20 text-2xl font-bold">Vos Contacts</h2>
	</div>
	<div class="grid grid-cols-4 gap-2">
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-4 gap-2">
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-4 gap-2">
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-4 gap-2">
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
		<div class="container">
			<div class="flex flex-wrap justify-center mt-5">
				<div class="w-[110px] h-[110px] mt-5 shadow-gn rounded-full">
					<img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg" alt="..." class="rounded-full max-w-full h-auto align-middle border-none"/>
				</div>
			</div>
			<div class="text-center mt-5">
				<span class="font-bold">Pierre Thomas</span><br>
				<span class="italic">Designer / Formateur</span><br>
				<button class="rounded-[20px] bg-[#BBBFCA] text-white shadow-gn mt-5 pt-2 pb-2 pr-3 pl-3">Suivre</button>
			</div>
		</div>
	</div>
{% endblock %}
